body {
    font-size: 14px;
    color: black;
    font-family: system-ui;
}

.container {
    width: 100%;
    justify-content: space-between;
    width: 340px;
    height: 580px;
    background-color: white;
}

.header {
    width: 100%;
    text-align: center;
}

.header img {
    width: 135px;
    padding-top: 5px;
}

.twitter-icon {
    position: absolute;
    top: 20px;
    left: 71px;
  }

  .social-icons {
    position: absolute;
    top: 20px;
    left: 250px;
  }
  
  .social-icons svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
  }  

/* News page =================================== */
.mailingList {
    background: #ff1616;
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    text-align: left;
    transition: all 0.3s;
    vertical-align: middle;
}

.mailingList:hover {
    color: #000000 !important;
}

.subscribeList {
    vertical-align: middle;
}

.mailingList .subscribeList {
    padding-top: 3px;
    float: right;
}

.mailingList img {
    padding-top: 1px;
}

.single-post {
    color: #000000;
    display: flex;
    flex-direction: row;
    margin: 0 0 15px;
    text-align: left;
}

.single-post img {
    border: 1px solid #636d7c;
    border-radius: 5px;
    height: 90px;
    margin: auto;
    object-fit: cover;
    padding: 0;
    width: 90px;
}

.single-post a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.posts-title h2 {
    margin-bottom: 5px;
}

.posts-title {
    margin-left: 10px;
    margin-top: 2px;
}

.posts-title h2 a:hover {
    color: #5e5e5e;
}

.loadMore {
    text-align: center;
    padding: 0 0 15px;
}

.loadMore button {
    background:  #ff1616;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 25px;
    transition: all 0.3s;
}

h1 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 5px;
}

.flex-container {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500;
    color: rgb(24, 24, 24);
    /* Define a cor do texto como preto */
    text-decoration: none;
    /* Remove o sublinhado */
    margin-top: 8px;
}

/* Indicadores ================================== */


.posts {
    padding: 8px 10px 0;
}

/* Estilo para a barra de rolagem =============== */

::-webkit-scrollbar {
    width: 15px;
    /* Largura da barra de rolagem */
}

/* Estilo para o track (trilha) da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgb(250, 250, 250);
    /* Cor de fundo do track */
    border-left: solid 0.5px #ff1616c9;
    border-right: solid 0.5px #ff1616cc;
}

/* Estilo para o thumb (ponteiro) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: white;
    /* Cor do thumb */
    border-left: solid 0.5px rgb(228, 228, 228);
    border-right: solid 2px rgb(180, 180, 180);
    border-bottom: solid 2px rgba(180, 180, 180, 0.863);
    border-top: solid 2px rgba(180, 180, 180, 0.863);
}