.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px 9px 33px 10px;
  padding: 16px 14px 16px 14px;
  border-radius: 5px;
  text-align: left;
  border: solid 1px rgba(207, 207, 207, 0.822);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
}

.button-container {
  position: absolute;
  background-color: #5c5c5c;
  width: 99px;
  height: 35px;
  /* border: solid 1px rgba(207, 207, 207, 0.822); */
  border-radius: 17px 17px 17px 17px;
  left: 121px;
  top: 128px;
}

.metric-container {
  border-radius: 10px;
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 83px;
}

.metric-title {
  font-size: 12px;
  font-weight: 700;
}

.metric-value {
  margin-top: 8px;
  max-width: 150px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.verticalLine {
  border-left: 1px solid #636d7c;
  height: 40px;
  padding-right: 8px !important;
  margin-left: 8px;
}

.arrow-button {
  background-color: rgba(255, 5, 5, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0;
}

.editable-svg path {
  fill: rgb(153, 153, 153);
}

.arrow-button img {
  height: 32px;
  transition: all 0.2s;
}

.arrow-button svg {
  background-color: transparent;
  transition: all 0.2s;
}

.nupl {
  flex-direction: column;
}

.unit {
  font-size: 70%;
  /* Tamanho de fonte menor para a unidade "days" */
}

.arrow-button.active svg path {
  fill: white; /* Altera a cor interior do ícone para vermelho */
}

.arrow-button.active svg rect {
  fill: #ff1616; /* Altera a cor interior do ícone para vermelho */
}

.arrow-button img {
  height: 32px;
}